/**
 * @file
 * Stylesheet for chatblock module
 */

div#chatblock-chatcontent {
  background-color: white;
  border: 1px solid #999;
  display: block;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
}

/* A single chat message, including timestamp and username. */
div.chatblock-message {
  display: block;
}

/* The input field for a new message. */
input#edit-chatblocktext {
  border: 1px solid #999;
  background-color: white;
  height: 1.25em;
  padding: 0.25em 0;
  width: 100%;
}

/* The dynamic input field when not focused. */
input#edit-chatblocktext.inactive {
  color: #CCC;
}

/* The dynamic input field when focused. */
input#edit-chatblocktext.active {
  color: #000;
}

/* The optional message input field label. */
div#edit-chatblocktext-wrapper span.field-prefix {
  font-weight: bold;
}

/* The info label for users which may not join but only view the chat. */
div#chatblock-permission-warning {
  border: 1px dotted #CCC;
  color: #666;
  font-style:italic;
  margin: 1em 0 0 0;
  padding: 5px;
}

/* The message input form */
form#chatblock-chatform {
  margin-bottom: 0 !important;
}

/**
 * Chat info page
 */

/* Admin provided custom intro */
div#chatblock-infopage-custom {
  border-bottom: 1em;
}

/* Replacement table
table#chatblock-infopage-replacements {
}

/**
 * Help/Logs links
 */
div#chatblock-links {
  text-align: right;
}
div#chatblock-links ul {
  list-style-type: none;
}
div#chatblock-links ul li {
  float: left;
}

/**
 * Optional styles for the chat content. Uncomment and edit to change defaults.
 */

/* Wraps around system messages (like e.g. "admin has logged in").
span.chatblock-system-message {
  font-style: italic;
}*/

/* Wraps around user name and message if tooltips are enabled.
span.chatblock-timestamp-tooltip {
}*/

/* Wraps around a non-tooltip timestamp.
span.chatblock-timestamp {
}*/

/* Wraps around the user name. Remember that there may be an <a> tag
   inside if user profile links are enabled.
span.chatblock-username {
}*/

/* Wraps around normal user generated messages.
span.chatblock-user-message {
}*/
